# 

# Quantitative Genetics

Given is the following dataset on a single locus with one observation

In [ ]:
s_data_root <- "https://charlotte-ngs.github.io/lbgfs2024/data"
s_qg_p02 <- file.path(s_data_root, "aural_exam_qg_p02.csv")
tbl_qg_p02 <- readr::read_delim(s_qg_p02, 
                                 delim = ",", 
                                 show_col_types = FALSE)

The dataset shown as table

In [ ]:
knitr::kable(tbl_qg_p02)

    Animal   SNP_1   Observation
  -------- ------- -------------
         1       0           141
         2       0           120
         3       2           189
         4       1           172
         5       1           158
         6       1           152
         7       1           141
         8       0           116
         9       1           176
        10       0           107
        11       1           132
        12       1           173
        13       1           131
        14       0           144
        15       1           176
        16       1           175
        17       0           103
        18       1           154
        19       2           176
        20       0           129
        21       2           187
        22       1           181
        23       1           138
        24       1           132
        25       0           119
        26       0            94
        27       1           139
        28       0           144
        29       0           124
        30       0           124

Use the above dataset to compute

1.  the genotypic values $a$ and $d$
2.  the breeding values for all genotypes
3.  the dominance deviations for all genotypes
4.  the genetic additive variance
5.  the dominance variance